{% load static %}
<!-- footer section -->
<footer class="footer border border-primary">
    <div id="container p-4 waveparent">
        <section class="mb-4">
            <img class="border border-secondary wave1" src="{% static 'mainweb/images/wave1.svg' %}" />
            <img class="border border-secondary wave2" src="{% static 'mainweb/images/wave2.svg' %}" />
            <img class="border border-secondary wave3" src="{% static 'mainweb/images/wave3.svg' %}" />
        </section>
    </div>
</footer>