    .textbox-custom {
        width: 95%;
        position: relative;
        max-width: 850px;
        margin: auto;
        background: #fff;
        box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
        padding: 25px;
        border-radius: 25px;
        height: 700px;
        transition: all .3s;
    }
    
    .socialicons {
        ul {
            margin-left: -25px;
            li {
                font-size: large;
                display: inline-flex;
                list-style: none;
                text-decoration: none;
                a {
                    color: rgb(21, 175, 170);
                    &:hover {
                        text-decoration: none;
                        color: rgb(0, 0, 0);
                    }
                    &:active {
                        color: rgb(4, 92, 89);
                    }
                }
            }
        }
    }