.navbar-custom {
    background-color: #2f2f2f;
}

body {
    background-color: #f9f9f9;
}

li {
    list-style: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    /* Set the fixed height of the footer here */
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #eaeaea;
}

.container {
    width: 100%;
}

.logocontainer {
    display: flex;
    justify-content: center;
}

.logo {
    width: 70%;
}

.mainpage {
    margin: 0 auto;
}