body {
    background-color: #fafafa;
    height: 100%;
}

.navbar-custom {
    background-color: #2f2f2f;
}

li {
    list-style: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 60px;
}

.maincontainer {
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logocontainer {
    display: flex;
    justify-content: center;
}

.logo {
    width: 65%;
}

.mainpage {
    margin: 0 auto;
}

.slogan {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

@media screen and (min-width: 801px) {
    .slogan {
        font-size: 40px;
    }
}

@media screen and (max-width: 800px) {
    .slogan {
        font-size: 28px;
    }
}

.waveparent {
    position: relative;
    top: 0;
    left: 0;
    width: 100px;
}

.jellyfish {
    position: relative;
    top: 0px;
    left: 0px;
    width: 35px;
}

.wave1 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 125px;
}

.wave2 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100px;
}

.wave3 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 110px;
}


/* Projects Page */

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.highlight {
    position: absolute;
    top: 0;
    left: 0;
    height: 200px;
    width: 200px;
    background: url('../images/grunge-spray-splatter.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 8px 0;
    z-index: 1;
    opacity: 0.3;
}