body {
    background-color: #fafafa;
    height: 100%;
    width: 100%;
}

.slogan {
    font-family: 'Ubuntu', Tahoma, Verdana, Segoe, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

.lang-switch {
    font-size: 16px;
    margin-right: 8px;
    margin-left: -5px;
}

.lang-switch a {
    color: aquamarine;
}

.lang-switch a:hover {
    color: azure;
}

.lang-switch a:active {
    color: darkslategrey;
}

.tagline {
    font-family: 'Ubuntu';
}

@media screen and (min-width: 801px) {
    .slogan {
        font-size: 30px;
    }
    .tagline {
        font-size: 20px;
    }
}

@media screen and (max-width: 800px) {
    .slogan {
        font-size: 28px;
    }
    .tagline {
        font-size: 18px;
    }
}

@media screen and (min-width: 481px) {
    .slogan {
        font-size: 24px;
    }
    .tagline {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .slogan {
        font-size: 20px;
    }
    .tagline {
        font-size: 14px;
    }
}

.navbar-custom {
    background-color: #2f2f2f;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 60px;
}

.maincontainer {
    margin: 0 auto;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.logocontainer {
    display: flex;
    justify-content: center;
}

.logo {
    margin-top: 45%;
    width: 90%;
}

.mainpage {
    margin: 0 auto;
}

.waveparent {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

.jellyfish {
    position: relative;
    top: 0px;
    left: 0px;
    width: 35px;
}

.wave1 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 125px;
}

.wave2 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 105px;
}

.wave3 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 115px;
}


/* Projects Page */

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.circlesize .fas {
    margin: 5px;
    font-size: 35px;
}