body {
    background-color: #fafafa;
    height: 100%;
    width: 100%;
}

.navbar-custom {
    background-color: #2f2f2f;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 60px;
}

.maincontainer {
    margin: 0 auto;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.logocontainer {
    display: flex;
    justify-content: center;
}

.logo {
    margin-top: 45%;
    width: 90%;
}

.mainpage {
    margin: 0 auto;
}

.slogan {
    font-family: 'Ubuntu', Tahoma, Verdana, Segoe, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

.videogamecompany {
    font-family: 'Ubuntu';
}

@media screen and (min-width: 801px) {
    .slogan {
        font-size: 40px;
    }
}

@media screen and (max-width: 800px) {
    .slogan {
        font-size: 28px;
    }
}

.waveparent {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

.jellyfish {
    position: relative;
    top: 0px;
    left: 0px;
    width: 35px;
}

.wave1 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 125px;
}

.wave2 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 105px;
}

.wave3 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 115px;
}


/* Projects Page */

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.circlesize .fas {
    margin: 5px;
    font-size: 35px;
}