{% extends "base_generic.html" %}


{% block content %}

  <div class="col-md-3">
    		<h4>Follow Us</h4>
            <ul class="social-network social-circle">
              <li><a href="#" class="socialicons" title="Facebook"></a><i class="fab fa-facebook-square fa-2x"></i></a></li>
              <li><a href="#" class="socialicons" title="Linkedin"></a><i class="fab fa-linkedin fa-2x"></i></a></li>
              <li><a href="#" class="socialicons" title="Instagram"></a><i class="fab fa-instagram fa-2x"></i></a></li>
              <li><a href="#" class="socialicons" title="Youtube"></a><i class="fab fa-youtube fa-2x"></i></a></li>
            </ul>				
            
		</div>
{% endblock %}