{% extends "base_generic.html" %}

{% load static %}
{% load i18n %}

{% block content %}
    <div class="row">

        <div class="d-flex flex-column justify-content-center">
            <div class="p-3 logocontainer">
                <img class="logo" src="{% static 'mainweb/images/nullpod_logo.svg' %}" />
            </div>
            <div class="p-2 text-center slogan">
                <span>&#60;play it this way&#62;</span>
            </div>
            <div class="p-2 text-center tagline">
                <span class="circlesize">
                    {% trans 'Game Design' %}
                    <span class="fas">.</span>
                    {% trans 'Web/Mobile Apps' %}
                    <span class="fas">.</span>
                    {% trans 'Music Production' %}
                </span>
            </div>
        </div>

    </div>

{% endblock %}