{% extends "base_generic.html" %}

{% load static %}
{% load sass_tags %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% sass_src 'mainweb/css/blog.scss' %}">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css">


<div class="mt-5">
    <h3 class="projects font-weight-bold">Our Projects</h3>

    <div class="blog-slider">
        <div class="blog-slider__wrp swiper-wrapper">
            <div class="blog-slider__item swiper-slide">

            <div class="blog-slider__img">
                <img src="{% static 'mainweb/images/grunge-spray-splatter.png' %}" alt="">
            </div>

            <div class="blog-slider__content">
                <span class="blog-slider__code">(Python Django/Bootstrap4)</span>
                <div class="blog-slider__title">Qb Lab</div>
                <div class="blog-slider__text">
                QB Lab Software is a custom software exclusively designed for the Laboratoire de Quatre Bornes in Mauritius using Python's Django framework. 
                QB Lab is an application that registers Patient data and Blood Tests
                and produces simple reports given to the patients visiting. 
                </div>
                <a href="#" class="blog-slider__button">...</a>
            </div>

        </div>
        
        <div class="blog-slider__item swiper-slide">

            <div class="blog-slider__img">
                <img src="{% static 'mainweb/images/comment.png' %}" alt="">
            </div>

            <div class="blog-slider__content">
                <span class="blog-slider__code">(PHP 7/VueJs)</span>
                <div class="blog-slider__title">Comment System</div>
                <div class="blog-slider__text">We revamped the Comment System of one of our clients and built a 2-level comment system from scratch using the modern VueJs framework.</div>
                <a href="#" class="blog-slider__button">...</a>
            </div>

        </div>
            
        <div class="blog-slider__item swiper-slide">

            <div class="blog-slider__img">
                <img src="{% static 'mainweb/images/chronicles.png' %}" alt="">
            </div>

            <div class="blog-slider__content">
                <span class="blog-slider__code">(Unity C#/Clip Studio Paint)</span>
                <div class="blog-slider__title">Codename: Chronicles of Sun</div>
                <div class="blog-slider__text">
                    We built a video game for one of our corporate clients CSR department. The official product will
                    be launched soon. We handled most aspects of the project management, game design, visual art, sound fx and music.
                </div>
                <a href="#" class="blog-slider__button">...</a>
            </div>

            </div>
        </div>
        
        <div class="blog-slider__pagination"></div>
    </div>  

</div>



<script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js'></script>
<script>
    var swiper = new Swiper('.blog-slider', {
        spaceBetween: 30,
        effect: 'fade',
        loop: true,
        mousewheel: {
            invert: false,
        },
        // autoHeight: true,
        pagination: {
            el: '.blog-slider__pagination',
            clickable: true,
        }
        });
</script>

{% endblock %}